body {
	font-family: 'Segoe UI', sans-serif;
}

#input-fields {
	margin-bottom: 30px;

	.field {
		margin-bottom: 10px;

		> input {
			width: 200px;
		}
		> .field-name {
			display: inline-block;
			width: 150px;
		}
	}
}

#id-log,
#abuse-controls,
#like-abuse-log {
	display: none;
}